body {
  font-family: 'DIN', Fallback, sans-serif !important;
  margin: 0;
}

}
a {
  /* blue colors for links too */
  text-decoration: inherit;
  /* no underline */
  text-decoration: none ;
  color: inherit;
}
a:hover {
  color: inherit;
}
ul {
  list-style-type: none;
  margin: 0;
}
main {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100%;
}
img {
  max-height: 100%;
  height: auto;
}

.form-group {
  margin-bottom: 1rem;
}

.form-inline .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}

label {
  margin-bottom: 0.5rem;
}
